body {
  margin: 0;
  font-family:sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-height: 100%;
}

nav{
  background-color: black;
  height:100px;
}

.texth3{
  margin-top:16px;
  color:#61DAFB;
  font-weight: 700;
  font-size: 30px;
}

.texth4{
  margin-top:16px;
  font-weight: 600;
  color: #DEEBF8;
}

.main{
  background-color: #282D35;
 
}